html {
    max-width: 80ch;
    margin-inline: auto;
    margin-block: 20px 100px;
    padding-inline: 20px;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 sup {
    font-size: .5em;
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;

    & .entry-sub {
        opacity: 0.7;
        font-size: 0.8em;
    }
}

a {
    color: blue;
}

@media (prefers-color-scheme: dark) {
    a {
        color: cornflowerblue
    }
}
